PORT=3000
VONAGE_API_KEY=tu_api_key
VONAGE_API_SECRET=tu_api_secret
MONGO_URI=mongodb://mongo:27017/verifications
CORS_ORIGINS=https://miapp.com,capacitor://localhost
BASIC_AUTH_USER=admin
BASIC_AUTH_PASS=admin123
